<nav *ngIf="account" class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      🔐 AuthMaster
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <i class="me-1">🏠</i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">
            <i class="me-1">👤</i> Profile
          </a>
        </li>
        <li class="nav-item" *ngIf="account?.role === 'Admin'">
          <a class="nav-link text-warning" routerLink="/admin">
            <i class="me-1">⚙️</i> Admin
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger ms-2" (click)="logout()">
            <i class="me-1">🚪</i> Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<alert></alert>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>